/* src/css/CheckoutModal.css */

.shipping-radio input[type="radio"] {
  /*Assign a 2px grey border*/
  border: 2px solid #333 !important;
  /*Remove box shadow*/
  box-shadow: none !important;
}
.shipping-radio:hover input[type="radio"],
.shipping-radio:focus input[type="radio"] {
  /*On hover make the border black*/
  border-color: #000 !important;
}
