/* src/css/HomeContact.css */

.home-contact-div {
  /*Set the background image color as a transparent black with override (!important)*/
  background-color: #0000007c !important;
  /*Set the position of the div as relative to allow absolute positioning of child elements*/
  position: relative;
  /* Prevent overflow of the background image */
  overflow: hidden;
  /*Set a text shadow to text in the div with override to improve readability*/
  text-shadow: 2px 2px 2px black !important;
}
.background-image {
  /*Automatically adjust height based on the viewport*/
  height: auto;
  /*Set the width of the image to 98% if the viewport width*/
  width: 98vw;
  /*Set the image object to cover the full container*/
  object-fit: cover;
  /*Set the position to be absolute to allow it to be transformed relative to the parent and to move it closer to the navbar*/
  position: absolute;
  /*Set the z-stack height to -1 to position it behind everything else, so that it peaks past in the exposed/empty sections*/
  z-index: -1;
  /*set the image to be aligned starting at the start of left edge of the viewport*/
  left: 0;
  opacity: 0.7;
}
.contact-us-header {
  /*set the header to be a yellow color*/
  color: rgb(233, 180, 36);
  /*set the content to be horizontally centered*/
  justify-content: center;
  /*Set the text to be horizontally centered*/
  text-align: center;
}
.contact-details-header {
  /*Align the contents to be on the right*/
  justify-content: end;
  /*Align the text to be on the right*/
  text-align: end;
}
.contact-details-items {
  /*Double the line height and set the font size at 24px*/
  font-size: 24px;
  line-height: 200%;
}
.contact-details a {
  /*Change the links to be slightly different blue color*/
  color: rgb(255, 255, 255);
}
.contact-image {
  /*set the image to be the full width of the containing column*/
  width: 100%;
  /*set the image to be the full height of the containing column*/
  height: 100%;
  /*Ensure the image cover the full size of its containing parent*/
  object-fit: cover;
}
/*At specific viewport breakpoints*/

/*at 992px and smaller*/
@media (max-width: 992px) {
  .home-contact-div {
    background-color: #282c34da !important;
  }
}
/*at 769px till 991px*/
@media (max-width: 991px) and (min-width: 769px) {
  .contact-details-items {
    font-size: 22px;
  }
}
/*at 768px and smaller*/
@media (max-width: 768px) {
  .contact-details-items {
    font-size: 20px;
  }
}
