/* src/css/LoginForm.css */

.login-form-div {
  /*Assign a grey background color*/
  background-color: #282c34da;
  /*prevent overflow in the x (horizontal plane)*/
  overflow-x: hidden;
}
.login-form-container {
  /* Set as a flex container*/
  display: flex;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /*Set height to the full height to full height of the viewport */
  height: 100vh;
  /*Set the width to the full width of the viewport*/
  width: 100vw;
}
.password-toggle-button:hover {
  color: rgb(0, 71, 138);
}
