/* src/css/NavbarRender.css */

.grey-globin-books-nav-logo-text {
  /*Set background color to a grey, overwriting the default bootstrap style with !important*/
  color: rgb(70, 69, 69) !important;
  /*set font size to 26px*/
  font-size: 26px;
}
.grey-globin-books-nav-logo-text:hover {
  /*On hover set the text contents of grey-globin-books-nav-logo-text to a black color
  and overwriting the default style !important*/
  color: black !important;
}
.nav-links {
  /*Set the font size for navigation links to 26px*/
  font-size: 26px;
}
.navbar {
  /*Ensure that overflow context in the x (horizontal) plane is hidden*/
  overflow-x: hidden;
  /*set a z-stack height of 1051 to ensure the navbar appears on top of everything else*/
  z-index: 1051;
}

/*At specific breakpoints*/

@media (max-width: 576px) and (min-width: 400px) {
  .grey-globin-books-nav-logo-text {
    font-size: 20px;
  }
  .icon-link {
    /*Set all around margins to 8px*/
    margin: 8px;
  }
}
@media (max-width: 399px) and (min-width: 380px) {
  .grey-globin-books-nav-logo-text {
    font-size: 16px;
  }
  .icon-link {
    margin: 7px;
  }
}
@media (max-width: 379px) {
  .grey-globin-books-nav-logo-text {
    font-size: 14px;
  }
  .icon-link {
    margin: 5px;
  }
}
