.total-price-container {
  /*position the total price container as fixed, anchored to the viewport,
  to keep it rendered regardless of page position in fixed location*/
  position: fixed;
  /*Align the element vertically 120px down from the top edge of the viewport*/
  top: 120px;
  /*Align the element horizontally 20px left from the right edge of the viewport*/
  right: 20px;
  /*Assign a z-stack height of 1050 so that this element appears on top of everything except the navbar (z-index: 1051)*/
  z-index: 1050;
  /*Set the background color to a white color*/
  background-color: #f8f9fa;
  /*Add padding to this container*/
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  /*Assign a white border of 1px to the element*/
  border: 1px solid #ccc;
  /*Set a border radius of 8px to round the corners*/
  border-radius: 8px;
  /*Assign the container as flex*/
  display: flex;
  /*Then use the flex layout assignment of align-items-center to vertically align the items in the center of the container*/
  align-items: center;
  /*Assign box shadow to the container to improve visibility*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.total-price-text {
  /*Assign a font weight of 500 to lightly bolden the text and assign
  a custom font size of 22px*/
  font-weight: 500;
  font-size: 22px;
}
/*Styling logic identical to total-price-container
Slight changes to padding and font size, as well as positioning*/
.clear-all-button {
  position: fixed;
  font-size: 16px;
  font-weight: 500;
  top: 180px;
  right: 20px;
  z-index: 1050;
  padding-top: 8px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
